canvas {
  display: block;
  width: 100vw;
  height: 90vh;
}


.volver{
  position: relative;
  top: 20px;
  left: 20px;
}

.volver{
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}

.volver:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 0.5em 1.4em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: rgb(0, 0, 0);
  outline: 0;
}

.design{
  display: flex;
  flex-direction: row;
}

.nombres{
  display: flex;
  flex-direction: column;
  padding-left: 43rem;
  align-items: center;
  padding-top: 20px;
}


@media (max-width: 1920px) and (max-height: 1080px) {
  canvas {
    display: block;
    width: 100vw;
    height: 90vh;
  }

  .nombres{
    padding-left: 80rem;
  }
}


@media (max-width: 1366px) and (max-height: 720px){
  canvas {
    display: block;
    width: 100vw;
    height: 82vh;
  }

  .nombres{
    padding-left: 45rem;
  }
}